@font-face {
  font-family: "Witchfinder Script Old";
  src: url("~assets/fonts/Witchfinder Script Old.eot");
  src: url("~assets/fonts/Witchfinder Script Old.eot") format("embedded-opentype"),
  url("~assets/fonts/Witchfinder Script Old.woff") format("woff"),
  url("~assets/fonts/Witchfinder Script Old.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}